.administration {
    margin: 5px 20px 5px 20px;
}

.administrationSource {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 15px auto;
    max-width: 100%;
}

.administrationSource iframe {
    border-radius: 5px;
    margin-top: -230px;
    margin-bottom: -720px;
    height: 1790px;
    width: 100%;
    transform: scale(0.95)
}

.otherStaffSource iframe {
    border-radius: 5px;
    margin-top: -270px;
    margin-bottom: 0px;
    height: 3450px;
    width: 100%;
    transform: scale(0.95)
}

